<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="add">


			  	
	<li class="mdl-menu__item-padding">
		<a href="{{egreso.get_absolute_url_edit_e}}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--amber-500 mdl-shadow--4dp" id="empresariales">
		<i class="material-icons mdl-color-text--white" role="presentation">picture_as_pdf</i>            
		</a>
	</li>
</ul>

<div class="mdl-tooltip mdl-tooltip--left" for="representante">
	Añadir<br />Egreso
</div>
<div class="mdl-tooltip mdl-tooltip--left" for="add">
	Editar
</div>	