<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="add">

<li class="mdl-menu__item-padding">
		<a href="{{cliente.get_absolute_url_add_r}}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--light-green-500 mdl-shadow--4dp" id="representante">
		<i class="material-icons mdl-color-text--white" role="personales">face</i>            
		</a>
			
	</li>
			  	
	<li class="mdl-menu__item-padding">
		<a href="{{cliente.get_absolute_url_edit_e}}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--amber-500 mdl-shadow--4dp" id="empresariales">
		<i class="material-icons mdl-color-text--white" role="presentation">store</i>            
		</a>
	</li>
</ul>

<div class="mdl-tooltip mdl-tooltip--left" for="representante">
	Añadir<br />Representante
</div>
<div class="mdl-tooltip mdl-tooltip--left" for="empresariales">
	Editar Datos<br />Empresariales
</div>
<div class="mdl-tooltip mdl-tooltip--left" for="add">
	Editar
</div>	